@charset "utf-8";

/* CSS Document */
* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	height: 3000px;
	position: relative;
}

.container {
	width: 80%;
	margin: 0 auto;
}

/*Navigation*/
#nav {
	display: flex;
	height: 190px;
	background-color: rgb(255, 255, 255);

}

#nav>div {
	flex: 1;
	/* background-color: #e0e0e0; */
}

#nav .topnav {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding-top: 10px;
	height: 60px;
}

#nav .topnav .left {
	list-style-type: none;
	display: flex;
}

#nav .topnav .left a {
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 5px;
	border: 2px solid #000000;
	background-color: #C70039;
	border-radius: 50%;
	margin: 5px 5px;
	transition: 0.5s;
	/*box-shadow: 5px 5px 50px #000000;  !*đổ bóng*!*/
	transform: translateX(90px);
}

#nav .topnav .left a:hover {
	background-color: #C70039;
	border-radius: 10px;
}

#nav .topnav .left img {
	width: 17px;
	height: 16px;
	background-color: #C70039;
}

/*Right*/
#nav .topnav .right {
	list-style-type: none;
	display: flex;
	margin-left: auto;
}

#nav .topnav .right button {
	display: block;
	background: none;
	outline: none;
	height: 25px;
	text-align: center;
	cursor: pointer;
	color: grey;
	font-size: 12pt;
	transform: translateX(-60px);
}

#nav .topnav .right img {
	width: 20px;
	height: 20px;
	margin: 5px 5px;
	transform: translate3d(-10px, +9px, 0)
}

/* Đăng xuất */
#nav .topnav .right #btnlogout {
	background-color: #ffffff;
	color: #000;
	list-style-type: none;
	font-family: "Roboto Light";
	text-align: center;
	height: 22px;
	width: 100px;
	line-height: 25px;
	font-weight: 400;
	border-radius: 8px;
	display: none;
	cursor: pointer;
	margin: 0 auto;
	animation: bottomup 0.5s;
	z-index: 100;

}

#nav .topnav .right li:hover>#btnlogout {
	display: block;
	font-size: 13pt;
}

#nav .topnav .right li>#btnlogout:hover {
	background-color: #C70039;
	color: #fff;
}

/*Nav Dưới */
#nav .botnav {
	display: flex;
	height: 130px;
	background-color: #C70039;
	border-top: 1px solid black;
}

#nav .botnav .logo img {
	height: 100px;
	transform: translate3d(+50px, 10px, 0);
}

#nav .botnav .container {
	width: 100%;
	margin: 0 auto;
}

#nav .botnav .top {
	height: 50%;
}

#nav .botnav .top .searchbox {
	transform: translate3d(120px, 15px, 0);
	padding: 10px;
	/*border-bottom: 10px solid #f00000;*/
}

#nav .botnav .top .searchbox input {
	width: 60%;
	font-size: 25pt;
	outline: none;
	border-radius: 16px;
	font-family: "Times New Roman";
}

#nav .botnav .top .searchbox button {
	width: 5%;
	background: none;
	outline: none;
	cursor: pointer;
}

#nav .botnav .top .searchbox button img {
	height: 25px;
}

/*#nav .botnav .top .searchbox button img:hover{*/

/*}*/
#nav .botnav .top .bot-right {
	list-style-type: none;
	display: flex;
}

#nav .botnav .top .bot-right button {
	display: block;
	background: none;
	outline: none;
	cursor: pointer;
	/*color: white;*/
	padding-right: 50px;
	transform: translate3d(1080px, -25px, 0);
}

#nav .botnav .top .bot-right img {
	width: 30px;
	height: 30px;
}

/* Phần trang chú , lambo.....*/
#nav .botnav .bot {
	height: 50%;
}

#nav .botnav .bot #btnmenu {
	display: none;
}

#nav .botnav .bot #navmenu {
	margin-left: auto;
	list-style-type: none;
	display: flex;
}

#nav .botnav .bot #navmenu a {
	text-decoration: none;
	color: #000000;
	font-size: 14pt;
	font-weight: 600;
	display: block;
	padding-top: 10px;
	min-width: 60px;
	text-align: center;
	height: 100%;
	transform: translateX(100px);
	margin: 10px 20px;
	transition: 0.4s;
}

#nav .botnav .bot #navmenu a:hover {
	border-bottom: 2px solid #ffffff;
	padding-top: 4px;
}













































































































































































































































































.specialProducts {
	position: relative;
	width: 1280px;
	height: 80px;
	/* background-color: antiquewhite; */
	border-bottom: #000 solid 1px;
}

.specialProducts .specialProducts-tabs {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);

}

.specialProducts .specialProducts-tabs .tab {
	text-decoration: none;
	list-style-type: none;
	display: block;
	text-align: left;
	height: 100%;
	cursor: pointer;
}

.specialProducts .specialProducts-tabs li a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	color: #000;
	margin: 50px;

}

.specialProducts .specialProducts-tabs li a:hover {
	color: #C70039;
}

ul.specialProducts-list {
	position: absolute;
	top: 80px;
	display: flex;
	flex-wrap: wrap;
	padding: 30px;
	list-style: none;
}


li.product {
	width: calc(25% - 30px);
	margin-left: 20px;
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.product-img-container {
	width: 100%;
	height: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.product-img {
	width: 90%;
	margin-right: 30px;
	display: block;
	margin: 0px auto;
	flex-shrink: 0;
	/*không cho phép phần tử đó co lại*/

}

.product-botton {
	margin-bottom: 8px;
	padding: 4px 0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	width: 220px;
	position: absolute;
	left: calc((100% - 220px) / 2);
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff00;
	background-color: #c7003800;
}

.product:hover {
	.product-botton {
		background-color: #2d2626;
		color: #fff;
	}
}

.view-botton {}

.icon {
	position: absolute;
	left: 0px;
	font-size: 18px;
	line-height: 1px;
	margin-left: 16px;
}

.product-info {
	height: 111px;
	background-color: #b12704;
	text-align: center;
	flex: 1;
}

.product-infor a {
	width: 100%;
	text-decoration: none;
	color: #282828;
	font-size: 14px;
	display: inline-block;
	text-align: center;
	padding: 4px 0;
}

.product-infor .product-title:hover {
	color: #C70039;
}

.product-brand {
	display: block;
	text-align: center;
	font-size: 14px;
	color: #757575;
	margin-bottom: 4px;
}

.product-infor .product-price {
	text-align: center;
	color: #b12704;
	font-weight: 700;
}


/* bấm nút view hiện box thông tin sản phẩm */
#productInfor-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 700px;
	background-color: rgba(115, 95, 95, 0.5);
	z-index: 1;
	display: none;
}
#productInfor {
	width: 1000px;
	height: 550px;
	background-color: #ffffff;
	position: fixed;
	top: calc((100% - 550px)/2);
	left: calc((100% - 1000px)/2);
}
.productInfor-container .productInfor.active {
	display: inline-block;
}



#productInfor .image-container {
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-left: 10px;
}

#productInfor .image-container img {
	width: 90%;
	margin-right: 30px;
	display: block;
	margin: 0px auto;
	flex-shrink: 0;
	/*không cho phép phần tử đó co lại*/

}

#productInfor .infor-container {
	width: 40%;
	height: 100%;
	position: absolute;
	top: 10%;
	right: 5%;
}

#productInfor .infor-container .product-title {
	font-size: 30px;
	padding-bottom: 10px;
	border-bottom: 8px solid #C70039;
}

#productInfor .infor-container .product-price {
	width: fit-content;
	margin-top: 24px;
	font-size: 24px;
	padding-top: 24px;
	padding-bottom: 6px;
	border-bottom: 5px solid #C70039;
}

#productInfor .infor-container .quantity {
	margin-top: 20px;
	font-size: 20px;
	padding-top: 20px;
	text-transform: capitalize;
	margin-bottom: 10px;
}

#productInfor .infor-container .quantity-decrease {
	width: 50px;
	height: 40px;
	border-top: #000 solid 2px;
	border-left: #000 solid 2px;
	border-bottom: #000 solid 2px;
	color: #C70039;
}

#productInfor .infor-container .quantity-increase {
	width: 50px;
	height: 40px;
	border-top: #000 solid 2px;
	border-right: #000 solid 2px;
	border-bottom: #000 solid 2px;
	color: #C70039;
}

#productInfor .infor-container .quantity-number {
	width: 80px;
	height: 40px;
	text-align: center;
	border: #000 solid 2px;
	margin: 0 -4px;
}
#productInfor .infor-container .quantity-decrease,
#productInfor .infor-container .quantity-increase,
 #productInfor.infor-container.quantity-number {
    font-weight: bold;
}
button.addtocart{
	width: 160px;
	height: 46px;
	position: absolute;
	bottom: 20%;
	left: 0;
	margin-bottom: 10px;
	background-color: #C70039;
	border: #000 solid 2px;
}

button.addtocart:hover {
    background-color: #ffffff;
    color: #C70039;
}

button {
	cursor: pointer;

}

.close-button {
	width: 60px;
	height: 50px;
	background-color: #ffffff;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	color: #000;
	font-size: 50px;
	text-align: center;
	overflow: hidden;
}
.close-button p {
	transform: rotate(45deg);
}

.close-button:hover {
    background-color: #C70039;
    color: #ffffff;
}











/*-----------------------------------------------------------------*/

/* 3 bài viết */
.post {
	position: absolute;
	bottom: 600px;
	left: 60px;
	width: 1160px;
	height: 640px;
	/* background-color: #bdb2b2; */
}

.post .post-header {
	position: absolute;
	width: 1160px;
	height: 64px;
	/* background-color: aqua; */
	border-bottom: #492831 1px solid;
}

.post .post-header .post-header-recent-post {
	position: absolute;
	width: 190px;
	height: 64px;
	/* background-color: beige; */
	/* display: flex; */
	/* justify-content: center; */
	line-height: 64px;
	border-bottom: #C70039 3px solid;
}

.post-main {
	width: 560px;
	height: 520px;
	/* background-color: antiquewhite; */
	position: absolute;
	bottom: 0px;
}

.post-main-img {
	width: 100%;
}

.post-main .post-main-content {
	position: absolute;
	bottom: 10px;
	width: 100%;
	height: 30%;
	/* background-color: rgb(109, 109, 92); */
}

.post-main .post-main-content a {
	text-decoration: none;
	color: #000;
	font-size: 14pt;
}

.post-main .post-main-content-summary {
	padding-top: 16px;
	font-size: 14px;
	color: #785860;
}

.post-main .readmore {
	margin-top: 30px;
}

.post-main .readmore a {
	font-size: 16px;
	color: #282828;
	line-height: inherit;
	text-transform: uppercase;
}

.post-sub1 {
	width: 544px;
	height: 160px;
	/* background-color: antiquewhite; */
	position: absolute;
	top: 100px;
	right: 0px;
}

.post-sub1-img {
	width: 50%;
}

.post-sub1 .post-sub1-content {
	position: absolute;
	top: 0px;
	right: 5px;
	width: 45%;
	height: 30%;
	/* background-color: rgb(109, 109, 92); */
}

.post-sub1 .post-sub1-content a {
	text-decoration: none;
	color: #000;
	font-size: 13pt;
}

.post-sub1 .post-sub1-content-summary {
	padding-top: 8px;
	font-size: 14px;
	color: #785860;
}

.post-sub1 .readmore {
	margin-top: 20px;
}

.post-sub1 .readmore a {
	font-size: 14px;
	color: #282828;
	line-height: inherit;
	text-transform: uppercase;
}

.post-sub2 {
	width: 544px;
	height: 160px;
	/* background-color: antiquewhite; */
	position: absolute;
	top: 320px;
	right: 0px;
}

.post-sub2-img {
	width: 50%;
}

.post-sub2 .post-sub2-content {
	position: absolute;
	top: 0px;
	right: 5px;
	width: 45%;
	height: 30%;
	/* background-color: rgb(109, 109, 92); */
}

.post-sub2 .post-sub2-content a {
	text-decoration: none;
	color: #000;
	font-size: 13pt;
}

.post-sub2 .post-sub2-content-summary {
	padding-top: 8px;
	font-size: 14px;
	color: #785860;
}

.post-sub2 .readmore {
	margin-top: 20px;
}

.post-sub2 .readmore a {
	font-size: 14px;
	color: #282828;
	line-height: inherit;
	text-transform: uppercase;
}

.hoverimage img {
	transition-duration: 0.5s;
	margin: 0 10px 5px 0;
}

.hoverimage img:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 30px gray;
}

.post-main .post-main-content a:hover,
.post-sub1 .post-sub1-content a:hover,
.post-sub2 .post-sub2-content a:hover {
	color: #C70039;
}

/* ---------------------------- */